
<div class="container d-lg-none" style="background-color: #1ba0e2;">
    <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid">
            <a class="navbar-link  link-light link-offset-2 link-underline link-underline-opacity-0 fw-semibold"
                href="index.html">
                <h3>traveloka <img src="ám1/image/logo.png" height="25px" alt=""></h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fw-semibold"
                            href="#">Khách sạn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fw-semibold"
                            href="#">Vé máy bay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fw-semibold"
                            href="#">Vé xe khách</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fw-semibold"
                            href="#">Đưa đón sân bay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fw-semibold"
                            href="#">Cho thuê xe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fw-semibold"
                            href="#">Hoạt động & vui chơi</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fw-semibold"
                            href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            more
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Combo tiết kiệm</a></li>
                            <li><a class="dropdown-item" href="#">Bảo hiểm du lịch</a></li>
                            <li><a class="dropdown-item" href="#">Phiếu du lịch</a></li>
                            <li><a class="dropdown-item" href="#">Cruises</a></li>

                            <li><a class="dropdown-item" href="dangnhapdangky.html">Đăng Nhập/Đăng Ký</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<body>
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-12 mt-5">
                <img class="img-fluid" src="ám1/image/banner1.png" alt="">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-12 mt-5">
                <img class="img-fluid" src="ám1/image/banner2.png" alt="">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-12 mt-5">
                <img class="img-fluid" src="ám1/image/banner3.png" alt="">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-12 mt-5">
                <img class="img-fluid" src="ám1/image/banner4.png" alt="">
            </div>
        </div>
    </div>

    <div class="dulich mt-5">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row ms-md-5 ps-md-5">
                        <div class="col">
                            <a href=""><img src="ám1/image/banner5.png" class="img-fluid" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="#"><img src="ám1/image/banner6.png" class="img-fluid" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="#"><img src="ám1/image/banner7.png" class="img-fluid" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="#"><img src="ám1/image/banner8.png" class="img-fluid" alt="..."></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row ms-md-5 ps-md-5">
                        <div class="col">
                            <a href="#"><img src="ám1/image/banner9.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="#"><img src="ám1/image/banner10.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="#"><img src="ám1/image/banner11.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col">
                            <a href="#"><img src="ám1/image/banner12.png" class="d-block w-100" alt="..."></a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <h3 class="ms-md-5 ps-md-5 mt-3">Nâng tầm chuyến di theo cách bạn muốn</h3>
    <div class="row ms-5 text-center">
        <div class="col-sm-3 ">
            <div class="card" style="width: 18rem;">
                <a href="#!sanphamtheodanhmuc"><img src="ám1/image/hoatdong1.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a class="card-text link-dark link-underline-opacity-0">Chuyến đi và Danh thắng</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="ám1/image/hoatdong2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="card-text link-dark link-underline-opacity-0">Fun Activities</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="ám1/image/hoatdong3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="card-text link-dark link-underline-opacity-0">Travel Insurance</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="ám1/image/hoatdong4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="card-text link-dark link-underline-opacity-0">Đặt trước, trả sau</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="ms-md-5 ps-md-5 mt-3"><i class="fa-solid fa-plane"></i> Các chuyến bay phổ biến</h3>
        <ul class="nav nav-pills justify-content-start ms-md-5 ps-md-5">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Khách sạn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Holiday stays</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Biệt thự</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Căn hộ</a>
            </li>
        </ul>
        
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4" ng-repeat="p in products | filter:{'category':'trong nước'} | limitTo:4">
                    <div class="card card-custom">
                        <div class="position-relative">
                            <div class="badge badge-custom">ONEWAY</div>
                            <img class="img-fluid" ng-src="{{ p.image }}" alt="">
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">{{ p.name }}</h6>
                            <p class="card-text">{{ p.locate }}<br>{{ p.date }}</p>
                            <p class="card-text price">{{ p.price | currency: 'VND':0 }}</p>
                            <button class="btn btn-primary" ng-click="addCart(p)">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="container mt-5">
        <h4 class="mb-4"><span role="img" aria-label="icon">🏨</span> Tái khám phá bản thân ở châu Á và những nơi
            khác</h4>
        <div class="row">
            <div class="col-md-4 mb-4" ng-repeat="p in products | filter:{'category':'quốc tế'} | limitTo:6">
                <div class="card">
                    <img src="{{ p.image }}" class="card-img-top" alt="Việt Nam">
                    <div class="card-body">
                        <h5 class="card-title">{{ p.name }}</h5>
                        <p class="card-text">{{p.view}}</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <h3 class="ms-md-5 ps-md-5 mt-3">không thể không đến</h3>
    <div class="container my-5">
        <div id="dealsCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-4" ng-repeat="p in products | filter:{'category':'Trong nước1'} | limitTo:4">
                            <div class="card card-custom">
                                <div class="position-relative">
                                    <div class="badge badge-custom">{{ p.badge }}</div>
                                    <a href="#!sanpham"><img src="{{ p.image }}" class="card-img-top" alt="Việt Nam"></a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title">{{ p.name }}</h6>
                                    <p class="card-text">{{ p.locate }}<br>{{ p.date }}</p>
                                    <p class="card-text price">{{ p.price | currency:"VND" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add more carousel items here if needed -->
            </div>
            <a class="carousel-control-prev" href="#dealsCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#dealsCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="text-center mt-4">
            <a href="#" class="btn btn-primary btn-lg">Xem tất cả</a>
        </div>
    </div>
    </div>
    <div class="container my-5">
        <h2 class="mb-4"><i class="fa-solid fa-binoculars"></i> Du hành quốc tế: nhận hướng dẫn</h2>
        <div class="row">
            <div class="col-md-3 ms-md-6" ng-repeat="p in products | filter:{'category':'quốc tế2'} | limitTo:6">
                <div class="card destination-card">
                    <img src="{{ p.image }}" alt="{{ p.name }}">
                    <div class="destination-info">
                        <h5 class="mb-0">{{ p.name }}</h5>
                        <small>{{ p.view }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="container my-5">
            <div class="text-center mb-5">
                <h2>Tại sao nên đặt chỗ với Traveloka?</h2>
                <div class="row mt-4">
                    <div class="col-md-4" ng-repeat="p in products | filter:{'category':'service'} | limitTo:3">
                        <div class="card border-0 img-thumbnail">
                            <div class="card-body text-center">
                                <img   src="{{ p.image }}" class="img-fluid">
                                <h5 class="card-title">{{ p.title }}</h5>
                                <p class="card-text">{{ p.description }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="text-center mb-5">
            <h2>Bạn muốn khám phá điều gì?</h2>

            <div class="container">
                <div class="tab-content  mt-4" id="myTabContent">
                    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="flights-tab" data-bs-toggle="tab" href="#flights" role="tab"
                                aria-controls="flights" aria-selected="true">Flights</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="hotels-tab" data-bs-toggle="tab" href="#hotels" role="tab"
                                aria-controls="hotels" aria-selected="false">Hotels</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="activities-tab" data-bs-toggle="tab" href="#activities" role="tab"
                                aria-controls="activities" aria-selected="false">Activities</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4" id="myTabContent">
                        <div class="tab-pane fade show active" id="flights" role="tabpanel"
                            aria-labelledby="flights-tab">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul class="list-unstyled">
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay đi
                                                Đà Nẵng</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay đi
                                                Phú Quốc</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay đi
                                                Nha Trang</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay đi
                                                Hà Nội</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay đi
                                                Đà Lạt</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay đi
                                                Hải Phòng</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="list-unstyled">
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Sài
                                                Gòn - Hà Nội</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Sài
                                                Gòn - Đà Nẵng</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Sài
                                                Gòn - Phú Quốc</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Sài
                                                Gòn - Nha Trang</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Sài
                                                Gòn - Đà Lạt</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay đi
                                                Singapore</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="list-unstyled">
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Hà
                                                Nội - Sài Gòn</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Hà
                                                Nội - Phú Quốc</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Hà
                                                Nội - Đà Nẵng</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Hà
                                                Nội - Nha Trang</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Hà
                                                Nội - Đà Lạt</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay đi
                                                Sài Gòn</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="list-unstyled">
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Đà
                                                Nẵng - Hà Nội</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Đà
                                                Nẵng - Sài Gòn</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Hồ
                                                Chí Minh - Bangkok</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Hồ
                                                Chí Minh - Singapore</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay Hà
                                                Nội - Bangkok</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay đi
                                                Bangkok</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="hotels" role="tabpanel" aria-labelledby="hotels-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Khách sạn Vũng
                                                Tàu</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Khách sạn Đà
                                                Lạt</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Khách sạn Đà
                                                Nẵng</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Khách sạn Hồ
                                                Chí Minh</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Khách sạn Nha
                                                Trang</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Khách sạn Hội
                                                An</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Khách sạn Sa
                                                Pa</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Khách sạn Hà
                                                Nội</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Khách sạn Phan
                                                Thiết</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Khách sạn Phú
                                                Quốc</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Khách sạn Quy
                                                Nhơn</a></li>
                                        <li><a href="#" class="link-primary link-underline-opacity-0">Vé máy bay
                                                Tết</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="activities" role="tabpanel" aria-labelledby="activities-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại TP. HCM</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Hội An</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Đà Nẵng</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Nha Trang</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Đà Lạt</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Hà Nội</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Phú Quốc</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Sa Pa</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Hà Giang</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Ninh Bình</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Singapore</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Thái Lan</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Malaysia</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Hàn Quốc</a></li>
                                        <li><a class="link-primary link-underline-opacity-0" href="#">Hoạt động Tham
                                                quan & Giải trí tại Nhật Bản</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>